<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">HOME</a></li>
<li><a href="/events">EVENTS</a></li>
<li><a href="/organizers">ORGANIZERS</a></li>
<li><a href="/about">ABOUT</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/AI-in-Ethiopia-Initiative">github.com/AiE Initiative</a></li>
   </ul>
  </footer>
  </body>

</html>
